<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpg.ssm.blog.dao.ReplyMapper">
    <resultMap id="BaseResultMap" type="com.gpg.ssm.blog.entity.Reply">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="commentId" jdbcType="BIGINT" property="commentId"/>
        <result column="replyType" jdbcType="BIGINT" property="replyType"/>
        <result column="replyId" jdbcType="BIGINT" property="replyId"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="guestId" jdbcType="BIGINT" property="guestId"/>
        <result column="toGuestId" jdbcType="BIGINT" property="toGuestId"/>
    </resultMap>


    <sql id="Base_Column_List">
    id, commentId, replyType, replyId, content, guestId, toGuestId
  </sql>

    <!--public T queryById(Integer id);-->
    <select id="queryById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_reply
        where id = #{id,jdbcType=BIGINT}
    </select>

    <!--public int deleteById(Integer id);-->
    <delete id="deleteById" parameterType="java.lang.Integer">
    delete from t_reply
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <!--public int insert(T entity);-->
    <insert id="insert" parameterType="com.gpg.ssm.blog.entity.Reply">
        insert into t_reply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="commentid != null">
                commentId,
            </if>
            <if test="replytype != null">
                replyType,
            </if>
            <if test="replyid != null">
                replyId,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="guestid != null">
                guestId,
            </if>
            <if test="toguestid != null">
                toGuestId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="commentid != null">
                #{commentid,jdbcType=BIGINT},
            </if>
            <if test="replytype != null">
                #{replytype,jdbcType=BIGINT},
            </if>
            <if test="replyid != null">
                #{replyid,jdbcType=BIGINT},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="guestid != null">
                #{guestid,jdbcType=BIGINT},
            </if>
            <if test="toguestid != null">
                #{toguestid,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <!--public int update(T entity);-->
    <update id="update" parameterType="com.gpg.ssm.blog.entity.Reply">
        update t_reply
        <set>
            <if test="commentid != null">
                commentId = #{commentid,jdbcType=BIGINT},
            </if>
            <if test="replytype != null">
                replyType = #{replytype,jdbcType=BIGINT},
            </if>
            <if test="replyid != null">
                replyId = #{replyid,jdbcType=BIGINT},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="guestid != null">
                guestId = #{guestid,jdbcType=BIGINT},
            </if>
            <if test="toguestid != null">
                toGuestId = #{toguestid,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>