<div class="layui-header header fly-header">
    <div class="layui-container header-container">
        <a href="" class="logo">
            <img src="images/logo.png" alt="GPG">
        </a>
        <ul class="layui-nav">
            <li class="layui-nav-item">
                <a href="#!/">首页</a>
            </li>
            <li class="layui-nav-item">
                <a href="#!/article">文章</a>
            </li>
            <li class="layui-nav-item">
                <a href="#!/archive">归档</a>
            </li>
            <li class="layui-nav-item">
                <a href="#!/about">关于</a>
            </li>
        </ul>
        <div class="layui-icon mobile-menu">&#xe668;</div>
    </div>
</div>
<div class="header_back"></div>

<script>
    $(function () {
        $(".mobile-menu").click(function () {
            $(".layui-nav").slideToggle(500);
        })
    })
</script>
<div class="layui-container main">
    <div class="main_left">
        <h2 class="home-title">
            <span>不要轻易放弃。学习成长的路上，我们长路漫漫，只因学无止境。</span>
            学无止境
        </h2>
        <div class="article-content">
            <div class="layui-card">
                <div class="layui-card-header">
                    <h3 class="title">{{currentArticle.articleTitle}}</h3>
                    <div class="date_hits"><span class="timeline">发布时间:</span><span class="hits">点击量:{{currentArticle.hits}}</span>
                    </div>
                </div>
                <div class="layui-card-body article-content-card">
                    <div class="content">
                        <div ng-bind-html="currentArticle.articleContent | trusted"></div>
                    </div>
                    <div class="tags"><span ng-repeat="t in currentArticle.tag"><i
                            class="layui-icon layui-icon-note"></i>&nbsp;<a href="###">{{t}}</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-card article-row">
            <div class="layui-card-body">
                <div class="prev">上一篇:<a href="#!/article/{{prevArticle.code}}">{{prevArticle.articleTitle}}</a></div>
                <div class="next">下一篇:<a href="#!/article/{{nextArticle.code}}">{{nextArticle.articleTitle}}</a></div>
                <div class="layui-clear"></div>
            </div>
        </div>

        <div class="layui-card">
            <div class="layui-card-header">
                <i class="layui-icon layui-icon-dialogue"></i>
                评论板
            </div>
            <div class="layui-card-body">
                <div class="comment_box" ng-repeat="comm in comments">
                    <span style="color:grey;">{{comm.guestName}}</span>
                    <hr/>
                    <p>{{comm.content}}</p>
                </div>
            </div>
        </div>
        <div class="layui-form-pane">
            <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                <legend>评论</legend>
            </fieldset>
            <form class="layui-form" ng-submit="addCommon()">
                <div class="layui-form-item">
                    <label>笔名</label>
                    <div class="layui-input-block">
                        <input type="text" class="layui-input" placeholder="请输入您的笔名"
                               name="penName" ng-model="penName" required/>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label>评论</label>
                    <div class="layui-input-block">
                        <textarea id="editor" ng-model="commentContent" lay-verify="content" class="layui-textarea"
                                  name="content" required></textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-layer-btn">
                        <button class="layui-btn layui-btn-primary" type="submit">提交评论</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="main_right">
        <div class="cate_menu">
            <h3 class="common_h3">分类</h3>
            <ul class="cate_menu_item">
                <li ng-repeat="cate in cates"><a href="#!/article/category/{{cate.id}}"
                                                 class="layui-btn layui-btn-primary">{{cate.cateName}}</a></li>
            </ul>
        </div>
        <div class="top_hits">
            <h3 class="common_h3">点击排行</h3>
            <ul class="hot_top common_read">
                <li ng-repeat="art in hitsRank">
                    <a href="#!/article/{{art.code}}">{{art.articleTitle}}</a>
                </li>
            </ul>
        </div>

        <div class="recommend">
            <h3 class="common_h3">最新文章</h3>
            <ul class="recommend-read common_read">
                <li ng-repeat="art in newRank">
                    <a href="#!/article/{{art.code}}">{{art.articleTitle}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>

</script>