<div class="layui-header header fly-header">
    <div class="layui-container header-container">
        <a href="" class="logo">
            <img src="images/logo.png" alt="GPG">
        </a>
        <ul class="layui-nav">
            <li class="layui-nav-item">
                <a href="#!/">首页</a>
            </li>
            <li class="layui-nav-item">
                <a href="#!/article">文章</a>
            </li>
            <li class="layui-nav-item">
                <a href="#!/archive">归档</a>
            </li>
            <li class="layui-nav-item">
                <a href="#!/about">关于</a>
            </li>
        </ul>
        <div class="layui-icon mobile-menu">&#xe668;</div>
    </div>
</div>
<div class="header_back"></div>

<script>
    $(function () {
        $(".mobile-menu").click(function () {
            $(".layui-nav").slideToggle(500);
        })
    })
</script>
<div class="layui-container main">
    <div class="main_left">
        <h2 class="home-title">
            <span>不要轻易放弃。学习成长的路上，我们长路漫漫，只因学无止境。</span>
            学无止境
        </h2>
        <ul class="article">
            <li ng-repeat="article in article">
                <h3 class="blog-tittle"><a href="#!/article/{{article.code}}">{{article.articleTitle}}</a></h3>
                <div class="blog-info">
                    <span class="blog_img"><a href="###"><img src="/images/logo.png"/></a></span>
                    <p>{{article.summary}}
                    </p>
                </div>
                <div class="author">
                    <span class="timeline">
						<i class="layui-icon layui-icon-log"></i>
						2018-02-10</span>
                    <span class="hits"><i class="layui-icon layui-icon-face-smile-fine"></i>({{article.hits}})</span>
                    <span class="more-info"><a href="#!/article/{{article.code}}">阅读更多</a></span>
                    <div class="box-border"></div>
                </div>
            </li>
            <li>
                <h3 class="blog-tittle"><a href="###">css3动画实现时间轴</a></h3>
                <div class="blog-info">
                    <span class="blog_img"><a href="###"><img src="/images/logo.png"/></a></span>
                    <p>
                        网页设计好不好看,颜色是毋庸置疑要排首位的,所以关于颜色的搭配技巧以及原则,对于每一个要学习web前端设计的新手来说,这都是一个重要的学习过程.在本教程中我们将与你分享6条肯定会火，并且“错不了”的指导方针，你可以按照这些原则把握最基本的色彩规律。现在我们分享的这些原则都不是规则，你会在你的职业生涯中创造出更多的配色方案。相反，他们是一个起点，是你如何生存在网页设计领域色彩方向的安全指南。</p>
                </div>
                <div class="author">
                    <span class="timeline">
						<i class="layui-icon layui-icon-log"></i>
						2018-02-10</span>
                    <span class="hits"><i class="layui-icon layui-icon-face-smile-fine"></i>(333)</span>
                    <span class="more-info"><a href="###">阅读更多</a></span>
                    <div class="box-border"></div>
                </div>
            </li>
            <li>
                <h3 class="blog-tittle"><a href="###">css3动画实现时间轴</a></h3>
                <div class="blog-info">
                    <span class="blog_img"><a href="###"><img src="/images/logo.png"/></a></span>
                    <p>
                        网页设计好不好看,颜色是毋庸置疑要排首位的,所以关于颜色的搭配技巧以及原则,对于每一个要学习web前端设计的新手来说,这都是一个重要的学习过程.在本教程中我们将与你分享6条肯定会火，并且“错不了”的指导方针，你可以按照这些原则把握最基本的色彩规律。现在我们分享的这些原则都不是规则，你会在你的职业生涯中创造出更多的配色方案。相反，他们是一个起点，是你如何生存在网页设计领域色彩方向的安全指南。</p>
                </div>
                <div class="author">
                    <span class="timeline">
						<i class="layui-icon layui-icon-log"></i>
						2018-02-10</span>
                    <span class="hits"><i class="layui-icon layui-icon-face-smile-fine"></i>(333)</span>
                    <span class="more-info"><a href="###">阅读更多</a></span>
                    <div class="box-border"></div>
                </div>
            </li>
            <li>
                <h3 class="blog-tittle"><a href="###">css3动画实现时间轴</a></h3>
                <div class="blog-info">
                    <span class="blog_img"><a href="###"><img src="/images/logo.png"/></a></span>
                    <p>
                        网页设计好不好看,颜色是毋庸置疑要排首位的,所以关于颜色的搭配技巧以及原则,对于每一个要学习web前端设计的新手来说,这都是一个重要的学习过程.在本教程中我们将与你分享6条肯定会火，并且“错不了”的指导方针，你可以按照这些原则把握最基本的色彩规律。现在我们分享的这些原则都不是规则，你会在你的职业生涯中创造出更多的配色方案。相反，他们是一个起点，是你如何生存在网页设计领域色彩方向的安全指南。</p>
                </div>
                <div class="author">
                    <span class="timeline">
						<i class="layui-icon layui-icon-log"></i>
						2018-02-10</span>
                    <span class="hits"><i class="layui-icon layui-icon-face-smile-fine"></i>(333)</span>
                    <span class="more-info"><a href="###">阅读更多</a></span>
                    <div class="box-border"></div>
                </div>
            </li>
            <li>
                <h3 class="blog-tittle"><a href="###">css3动画实现时间轴</a></h3>
                <div class="blog-info">
                    <span class="blog_img"><a href="###"><img src="/images/logo.png"/></a></span>
                    <p>
                        网页设计好不好看,颜色是毋庸置疑要排首位的,所以关于颜色的搭配技巧以及原则,对于每一个要学习web前端设计的新手来说,这都是一个重要的学习过程.在本教程中我们将与你分享6条肯定会火，并且“错不了”的指导方针，你可以按照这些原则把握最基本的色彩规律。现在我们分享的这些原则都不是规则，你会在你的职业生涯中创造出更多的配色方案。相反，他们是一个起点，是你如何生存在网页设计领域色彩方向的安全指南。</p>
                </div>
                <div class="author">
                    <span class="timeline">
						<i class="layui-icon layui-icon-log"></i>
						2018-02-10</span>
                    <span class="hits"><i class="layui-icon layui-icon-face-smile-fine"></i>(333)</span>
                    <span class="more-info"><a href="###">阅读更多</a></span>
                    <div class="box-border"></div>
                </div>
            </li>
            <li>
                <h3 class="blog-tittle"><a href="###">css3动画实现时间轴</a></h3>
                <div class="blog-info">
                    <span class="blog_img"><a href="###"><img src="/images/logo.png"/></a></span>
                    <p>
                        网页设计好不好看,颜色是毋庸置疑要排首位的,所以关于颜色的搭配技巧以及原则,对于每一个要学习web前端设计的新手来说,这都是一个重要的学习过程.在本教程中我们将与你分享6条肯定会火，并且“错不了”的指导方针，你可以按照这些原则把握最基本的色彩规律。现在我们分享的这些原则都不是规则，你会在你的职业生涯中创造出更多的配色方案。相反，他们是一个起点，是你如何生存在网页设计领域色彩方向的安全指南。</p>
                </div>
                <div class="author">
                    <span class="timeline">
						<i class="layui-icon layui-icon-log"></i>
						2018-02-10</span>
                    <span class="hits"><i class="layui-icon layui-icon-face-smile-fine"></i>(333)</span>
                    <span class="more-info"><a href="###">阅读更多</a></span>
                    <div class="box-border"></div>
                </div>
            </li>
            <li>
                <h3 class="blog-tittle"><a href="###">css3动画实现时间轴</a></h3>
                <div class="blog-info">
                    <span class="blog_img"><a href="###"><img src="/images/logo.png"/></a></span>
                    <p>
                        网页设计好不好看,颜色是毋庸置疑要排首位的,所以关于颜色的搭配技巧以及原则,对于每一个要学习web前端设计的新手来说,这都是一个重要的学习过程.在本教程中我们将与你分享6条肯定会火，并且“错不了”的指导方针，你可以按照这些原则把握最基本的色彩规律。现在我们分享的这些原则都不是规则，你会在你的职业生涯中创造出更多的配色方案。相反，他们是一个起点，是你如何生存在网页设计领域色彩方向的安全指南。</p>
                </div>
                <div class="author">
                    <span class="timeline">
						<i class="layui-icon layui-icon-log"></i>
						2018-02-10</span>
                    <span class="hits"><i class="layui-icon layui-icon-face-smile-fine"></i>(333)</span>
                    <span class="more-info"><a href="###">阅读更多</a></span>
                    <div class="box-border"></div>
                </div>
            </li>
            <li>
                <h3 class="blog-tittle"><a href="###">css3动画实现时间轴</a></h3>
                <div class="blog-info">
                    <span class="blog_img"><a href="###"><img src="/images/logo.png"/></a></span>
                    <p>
                        网页设计好不好看,颜色是毋庸置疑要排首位的,所以关于颜色的搭配技巧以及原则,对于每一个要学习web前端设计的新手来说,这都是一个重要的学习过程.在本教程中我们将与你分享6条肯定会火，并且“错不了”的指导方针，你可以按照这些原则把握最基本的色彩规律。现在我们分享的这些原则都不是规则，你会在你的职业生涯中创造出更多的配色方案。相反，他们是一个起点，是你如何生存在网页设计领域色彩方向的安全指南。</p>
                </div>
                <div class="author">
                    <span class="timeline">
						<i class="layui-icon layui-icon-log"></i>
						2018-02-10</span>
                    <span class="hits"><i class="layui-icon layui-icon-face-smile-fine"></i>(333)</span>
                    <span class="more-info"><a href="###">阅读更多</a></span>
                    <div class="box-border"></div>
                </div>
            </li>
        </ul>
        <div class="layui-box layui-laypage layui-laypage-default pagenation">
            <a class="layui-laypage-prev"></a>
            <a class="layui-laypage-curr"></a>
            <a class="layui-laypage-curr"></a>
            <a class="layui-laypage-next"></a>
        </div>
    </div>
    <div class="main_right">
        <div class="cate_menu">
            <h3 class="common_h3">分类</h3>
            <ul class="cate_menu_item">
                <li ng-repeat="cate in cates"><a href="#!/article/category/{{cate.id}}"
                                                 class="layui-btn layui-btn-primary">{{cate.cateName}}</a></li>
            </ul>
        </div>
        <div class="top_hits">
            <h3 class="common_h3">点击排行</h3>
            <ul class="hot_top common_read">
                <li ng-repeat="art in hitsRank">
                    <a href="#!/article/{{art.code}}">{{art.articleTitle}}</a>
                </li>
            </ul>
        </div>

        <div class="recommend">
            <h3 class="common_h3">最新文章</h3>
            <ul class="recommend-read common_read">
                <li ng-repeat="art in newRank">
                    <a href="#!/article/{{art.code}}">{{art.articleTitle}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
</script>